<div class="glass-panel">
  <div class="header">
    <h1 id="contact_heading">Contact</h1>
    <p>Do you want to know more about me? Then feel free to contact me.</p>
  </div>
  <div class="content">
    <form id="contactForm" method="POST" data-netlify="true">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
</div>
